.header-logo svg
{
    width: 150px;
}

.group-header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: rgb(0, 0, 0, 0.15) 0px 1px 2px;
}

.group-header .group-navigation {
display: flex;
column-gap: 1rem;

}

.group-navigation .btn-navigation{
background-image: linear-gradient(to right, #d434b0, #8029fc);
padding: .5rem;
display: flex ;
justify-content: center;
align-items: center;
border-radius: 6px;
}